.site-footer {
  background-color: transparent; /* Dark background */
  color: #fff; /* White text */
  padding: 20px 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-align: center;
}

.site-footer a {
  color: #00bfff; /* Link color */
  text-decoration: none;
}

.site-footer a:hover {
  text-decoration: underline;
}

.footer-content {
  max-width: 1000px;
  margin: 0 auto;
}

.footer-main {
  margin: 0;
  padding-bottom: 6px;
  font-weight: bold;
}

.footer-specific {
  margin: 0;
  font-style: italic;
  font-size: 13px;
  color: #ccc;
}